# 데이터 랭글링

In [6]:
import pandas as pd

In [11]:
dataframe = pd.DataFrame()

In [12]:
dataframe['Name']= ['Jacky Jackson', 'Steven Stevenson']
dataframe['Age'] = [38,25]
dataframe['Driver']=[True, False]

In [13]:
dataframe

               Name  Age  Driver
0     Jacky Jackson   38    True
1  Steven Stevenson   25   False

In [14]:
new_person = pd.Series(['Molly Mooney', 40, True],
                      index = ['Name','Age','Driver'])

In [15]:
dataframe.append(new_person, ignore_index = True)

               Name  Age  Driver
0     Jacky Jackson   38    True
1  Steven Stevenson   25   False
2      Molly Mooney   40    True

In [17]:
import numpy as np
data =[['Jacky Jackson',38,True],['Steven Stevenson', 25,False]]

matrix = np.array(data)

In [18]:
pd.DataFrame(matrix, columns =['Name','Age','Driver'])

               Name Age Driver
0     Jacky Jackson  38   True
1  Steven Stevenson  25  False

In [19]:
pd.DataFrame(data, columns =['Name','Ages','Driver'])

               Name  Ages  Driver
0     Jacky Jackson    38    True
1  Steven Stevenson    25   False

In [21]:
data = {'Name' : ['Jacky Jackson', 'Steven Stevenson'],
       'Age': [38,25],
       'Driver': [True, False]}

pd.DataFrame(data)

               Name  Age  Driver
0     Jacky Jackson   38    True
1  Steven Stevenson   25   False

In [24]:
url = 'https://tinyurl.com/titanic-csv'

dataframe = pd.read_csv(url,error_bad_lines=False)

dataframe.head()

b'Skipping line 22: expected 1 fields, saw 7\nSkipping line 23: expected 1 fields, saw 2\nSkipping line 25: expected 1 fields, saw 3\nSkipping line 26: expected 1 fields, saw 3\nSkipping line 27: expected 1 fields, saw 2\nSkipping line 28: expected 1 fields, saw 2\nSkipping line 38: expected 1 fields, saw 5\nSkipping line 44: expected 1 fields, saw 2\nSkipping line 53: expected 1 fields, saw 2\nSkipping line 54: expected 1 fields, saw 5\nSkipping line 65: expected 1 fields, saw 2\nSkipping line 71: expected 1 fields, saw 2\nSkipping line 114: expected 1 fields, saw 2\nSkipping line 134: expected 1 fields, saw 2\nSkipping line 135: expected 1 fields, saw 2\nSkipping line 145: expected 1 fields, saw 2\n'

                                     <!DOCTYPE html>
0                                             <html>
1                                             <head>
2  \t<title>TinyURL.com - shorten that long URL i...
3               \t<base href="https://tinyurl.com/">
4  \t<meta name="google-site-verification" conten...