## 레몬에이드 판매랑 예측

In [1]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [4]:
#데이터를 준비합니다.
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
레몬에이드  = pd.read_csv(파일경로)
레몬에이드.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [5]:
#독립변수 , 종속변수

독립 = 레몬에이드[['온도']]
종속 = 레몬에이드[['판매량']]
print(독립.shape, 종속.shape)

(6, 1) (6, 1)

In [6]:
#모델을 만듭니다.
X = tf.keras.layers.Input(1)
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X,Y)
model.compile(loss='mse')

In [9]:
#모델을 학습시킨다.
model.fit(독립,종속,epochs=1000,verbose=0)
model.fit(독립, 종속,epochs=10)

Epoch 1/10
1/1 [==============================] - 0s 5ms/step - loss: 0.0043
Epoch 2/10
1/1 [==============================] - 0s 6ms/step - loss: 0.0043
Epoch 3/10
1/1 [==============================] - 0s 3ms/step - loss: 0.0043
Epoch 4/10
1/1 [==============================] - 0s 4ms/step - loss: 0.0043
Epoch 5/10
1/1 [==============================] - 0s 3ms/step - loss: 0.0043
Epoch 6/10
1/1 [==============================] - 0s 7ms/step - loss: 0.0043
Epoch 7/10
1/1 [==============================] - 0s 3ms/step - loss: 0.0043
Epoch 8/10
1/1 [==============================] - 0s 7ms/step - loss: 0.0043
Epoch 9/10
1/1 [==============================] - 0s 5ms/step - loss: 0.0043
Epoch 10/10
1/1 [==============================] - 0s 4ms/step - loss: 0.0043

In [10]:
#모델을 이용한다.
print(model.predict(독립))

[[40.109386]
 [42.07219 ]
 [44.034992]
 [45.997795]
 [47.960594]
 [49.923397]]

In [11]:
print(종속)

   판매량
0   40
1   42
2   44
3   46
4   48
5   50

In [12]:
print(model.predict([[15]]))

[[30.295372]]

## 보스턴 집값 예측

In [13]:
#라이브러리 사용
import pandas as pd
import tensorflow as tf

In [17]:
#과거의 데이터를 준비한다.
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스턴 = pd.read_csv(파일경로)
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [18]:
#독립변수, 종속변수
독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [20]:
#모델의 구조를 만든다.
X = tf.keras.layers.Input(13)
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X,Y)
model.compile(loss='mse')

In [30]:
#모델을 학습시킨다.(Fit)
model.fit(독립,종속, epochs=500,verbose= 0)
model.fit(독립, 종속, epochs= 10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 23.6378
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 23.7514
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 23.8347
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 23.6071
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 23.9537
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 23.7161
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 23.8791
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 24.1867
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 23.4393
Epoch 10/10
16/16 [==============================] - 0s 969us/step - loss: 23.5384

In [26]:
#모델을 이용한다.
print(model.predict(독립[:5]))
print(종속[:5])

[[29.682615]
 [24.559471]
 [31.009617]
 [29.578037]
 [29.197813]]
   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [31]:
print(model.get_weights())

[array([[-0.09743206],
       [ 0.04865482],
       [-0.01937436],
       [ 2.6422584 ],
       [-3.3988943 ],
       [ 5.1753354 ],
       [-0.01062712],
       [-1.0966204 ],
       [ 0.20559001],
       [-0.012383  ],
       [-0.5493546 ],
       [ 0.01104219],
       [-0.46871224]], dtype=float32), array([10.234005], dtype=float32)]