# 범주형 데이터 다루기

## 5.1 순서가 없는 범주형 특성 인코딩하기

In [1]:
#원핫 인코딩
import numpy as np
from sklearn.preprocessing import LabelBinarizer,MultiLabelBinarizer

In [2]:
feature = np.array([["Texas"],
                    ["California"],
                    ['Texas'],
                    ['Delaware'],
                    ['Texas']])

In [4]:
#원-핫 인코더를 만든다.
one_hot = LabelBinarizer()

#feature를 원-핫 인코딩한다.
one_hot.fit_transform(feature)

array([[0, 0, 1],
       [1, 0, 0],
       [0, 0, 1],
       [0, 1, 0],
       [0, 0, 1]])

In [7]:
one_hot.classes_

array(['California', 'Delaware', 'Texas'], dtype='<U10')

In [8]:
#원-핫 인코딩 되돌리기
one_hot.inverse_transform(one_hot.transform(feature))

array(['Texas', 'California', 'Texas', 'Delaware', 'Texas'], dtype='<U10')

In [11]:
# 판다스를 사용한 원-핫 인코딩
import pandas as pd

pd.get_dummies(feature[:,0])

   California  Delaware  Texas
0           0         0      1
1           1         0      0
2           0         0      1
3           0         1      0
4           0         0      1

In [12]:
#사이킷런의 장점은 다중클래스도 다룰 수 있다
multiclass_feature=[('Texas','Florida'),
                   ('California','Alabama'),
                   ('Texas', 'Florida'),
                   ('Delware','Florida'),
                   ('Texas','Alabama')]

In [15]:
#다중 클래스 원-핫 인코딩
one_hot_multiclass = MultiLabelBinarizer()

one_hot_multiclass.fit_transform(multiclass_feature)

array([[0, 0, 0, 1, 1],
       [1, 1, 0, 0, 0],
       [0, 0, 0, 1, 1],
       [0, 0, 1, 1, 0],
       [1, 0, 0, 0, 1]])

In [18]:
one_hot_multiclass.classes_

array(['Alabama', 'California', 'Delware', 'Florida', 'Texas'],
      dtype=object)

In [21]:
# 다중 클래스이면서 정수형과 문자열 둘다 다룰수 있는 OneGotEncoder

from sklearn.preprocessing import OneHotEncoder

In [31]:
datalist = [["Texas",'1'],["California",'1']]

In [32]:
featuresss=np.array(datalist)

ValueError: PandasArray must be 1-dimensional.