In [1]:
#라이브러리
import pandas as pd

In [10]:
raw_rating_data =pd.read_csv('./ml-latest-small/ratings.csv')
raw_rating_data.tail()

        userId  movieId  rating   timestamp
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

In [3]:
sorted_rating = raw_rating_data.sort_values(by='timestamp',axis =0)
sorted_rating.tail()

       userId  movieId  rating   timestamp
81475     514   187031     2.5  1537674927
81477     514   187595     3.0  1537674946
81336     514     5247     2.5  1537757040
81335     514     5246     1.5  1537757059
81092     514      162     4.0  1537799250

In [4]:
rating_data_newest = sorted_rating[-100000:-1]

In [5]:
rating_data_newest.head()

       userId  movieId  rating  timestamp
41787     284      357     4.0  832786307
41788     284      367     5.0  832786307
41801     284      440     4.0  832786307
41793     284      410     3.0  832786349
41760     284      235     3.0  832786349

In [6]:
rating_data_newest.tail()

       userId  movieId  rating   timestamp
30177     210   180031     4.0  1537649775
81475     514   187031     2.5  1537674927
81477     514   187595     3.0  1537674946
81336     514     5247     2.5  1537757040
81335     514     5246     1.5  1537757059

In [7]:
def rating_filter(input_data, threshold =100):
    data = input_data.copy()
    #threshold개 이상 평가를 남긴 행만 남긴다.
    x = data['userId'].value_counts()>=threshold
    y = set(x[x].index)
    data= data[data['userId'].isin(y)]
    
    return data.reset_index(drop =True)
# 데이터 필터링

In [8]:
rating_data_newest_cert = rating_filter(rating_data_newest,100)

In [9]:
rating_data_newest_cert.head()

   userId  movieId  rating  timestamp
0     436      380     3.0  833529409
1     436      592     3.0  833529409
2     436      150     4.0  833529409
3     436      588     3.0  833529489
4     436      344     1.0  833529489

In [10]:
rating_data_newest_cert.to_csv('./ml-latest-small/rating_cert.csv')

In [11]:
#인덱스는 userId, 열은 movieID, 값들은 평점으로해서 데이터 프레임을 만든다.
raw_pivot = rating_data_newest_cert.pivot(index='userId',columns ='movieId', values='rating')

In [12]:
movie_count = raw_pivot.count(axis = 0)
print(movie_count)

movieId
1         135
2          81
3          35
4           4
5          26
         ...
193581      1
193583      1
193585      1
193587      1
193609      1
Length: 9551, dtype: int64

In [13]:
#영화의 평점 개수가 20개보다 작을 때 해당 영화는 없애준다.
movies_to_erase=[]
for c in raw_pivot.columns.to_list():
    if(movie_count[c]<20):
        movies_to_erase.append(c)

In [14]:
#axis =1 은 열을 다루는 것, axis = 0은 행을 다루는 것.
raw_pivot_temp = raw_pivot.drop(movies_to_erase,axis=1)

In [15]:
movieList = raw_pivot_temp.columns.to_list()

In [16]:
movieList[:5]

[1, 2, 3, 5, 6]

In [17]:
movie_raw = pd.read_csv('./ml-latest-small/movies.csv')
movie_raw.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [18]:
movie_raw_cert = movie_raw[movie_raw['movieId'].isin(movieList)]

In [20]:
movie_raw_cert.tail()

,movieId,title,genres
8900,134853,Inside Out (2015),Adventure|Animation|Children|Comedy|Drama|Fantasy
8990,139385,The Revenant (2015),Adventure|Drama
9162,148626,"Big Short, The (2015)",Drama
9223,152081,Zootopia (2016),Action|Adventure|Animation|Children|Comedy
9433,166528,Rogue One: A Star Wars Story (2016),Action|Adventure|Fantasy|Sci-Fi

In [38]:
print(movie_raw_cert.shape)

(1140, 3)

In [39]:
movie_raw_cert.to_csv('./ml-latest-small/movie_cert.csv',index =False)

In [40]:
raw_pivot.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,4.0,5.0,3.0,5.0,4.0,4.0,3.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1]:
#recommend.py 코드
import pandas as pd
#timestamp에 기록하기 위해서
import datetime as pydatetime
import numpy as np
from scipy.sparse.linalg import svds

class recommend:
    def _init_(self, userID):
        self.uId = userID;
        self.pivot_table=pd.Dataframe()
        
    def add(self, movieTitle, score):
        movies_df = pd.read_csv('./ml-latest-small/movie_cert.csv')
        rating_df = pd.read_csv('./ml-latest-small/rating_cert.csv')
        
        #movileTitle이 movie_cert에 없다면 에러 출력후 리턴
        temp = movies_df[movies_df['title']==movieTitle]
        if(len(temp)<1 or len(temp)>2):
            print("해당 영화가 없거나 에러가 존재합니다. 다시 입력하세요")
            return 
        
        movieId =temp.iloc[0]['movieId']
        #현재의 timestamp
        curTime = int(pydatatime.datatime.now().timestamp())
        
        #rating_cert.csv에 데이터 추가
        toAppend = {"userId": self.uId, "movieId" : movieId,
                   "rating":score, "timestamp":curTime}
        
        rating_df =rating_df.append(toAppend, ignore_index = True)
        
        rating_df.to_csv('./ml-latest-small/rating_cert.csv',index =False)
        
    def prediction(self, num_recommendations):
        # movie_predict 테이블을 만들기 위한 과정
        movies_df = pd.read_csv('./ml-latest-small/movie_cert.csv')
        ratings_df = pd.read_csv('./ml-latest-small/rating_cert.csv')
        
        pivot_df = ratings_df.pivot(index ='userId',columns='movieId',values='rating').fillna(0)

        R = pivot_df.values
        
        #user_ratings_mean은 사용자의 평균 평점
        user_ratings_mean = np.mean(R,axis =1)
        
        #R_demeaned : 사용자-영화에대한 사용자의 평균 평점
        R_demeaned = R - user_ratings_mean.reshape(-1,1)
        
        #U 행렬, sigma 행렬, V전치행렬을 반환
        #이때 spicy에 있는 svd를 이용
        U,sigma,Vt = svds(R_demeaned,k=50)
        
        sigma = np.diag(sigma)
        
        all_user_predicted_ratings = np.dot(np.dot(U,sigma),Vt)+user_ratings_mean.reshape(-1,1)
        
        preds_df = pd.DataFrame(all_user_predicted_ratings, columns=pivot_df.columns)
        
        # 모델 부분.
        user_row_number = list(pivot_df.index).index(self.uId)
        
        #앞에서 만든 prediction행렬을 사용자 인덱스에 따라 평점이 높은 순으로 영화를 정렬
        sorted_user_predicitons = preds_df.iloc[user_row_number].sort_values(ascending=False)
        
        # rating_cert에서 user_id에 해당하는 정보(movieID, rating)를 얻는다.
        new_data = pivot_df.loc[[self.uId]]
        watched_movies=[]
        for c in pivot_df.columns.to_list():
            if new_data.iloc[0][c] != 0:
                watched_movies.append(c)
        
        recommendations = pd.merge(sorted_user_predictions,movies_df, on='movieId')
        
        recommendations = recommendations[~recommendations['movieId'].isin(watched_movies)]
        
        return recommendations['title'][:num_recommendations].to_list()

In [3]:
#main.py 코드

import recommendation as myRecommend

print("***********영화 추천 프로그램**************")
while True :
    userID =int(input("로그인(-1 to end program): "))
    if userID ==-1 :
        break;
    print()
    
    rec = myRecommend.recommend(userID)
    
    while True:
        movieTitle = str(input("영화 제목 : "))
        if movieTitle =="":
            print("-----------------")
            break
        score = float(input(movieTItle+"의 평점 :"))
        rec.add(movieTitle, score)
        print();
        
    recommended = rec.prediction(10)

    print("< (user",userID,")님께 추천 드리는 영화 목록 >")
    for movie in recommend :
        print(movie)
        
    print("\n")

***********영화 추천 프로그램**************
로그인(-1 to end program): 5

TypeError: recommend() takes no arguments