In [1]:
#라이브러리
import pandas as pd

In [10]:
raw_rating_data =pd.read_csv('./ml-latest-small/ratings.csv')
raw_rating_data.tail()

        userId  movieId  rating   timestamp
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

In [11]:
sorted_rating = raw_rating_data.sort_values(by='timestamp',axis =0)
sorted_rating.tail()

       userId  movieId  rating   timestamp
81475     514   187031     2.5  1537674927
81477     514   187595     3.0  1537674946
81336     514     5247     2.5  1537757040
81335     514     5246     1.5  1537757059
81092     514      162     4.0  1537799250

In [12]:
rating_data_newest = sorted_rating[-100000:-1]

In [13]:
rating_data_newest.head()

       userId  movieId  rating  timestamp
41787     284      357     4.0  832786307
41788     284      367     5.0  832786307
41801     284      440     4.0  832786307
41793     284      410     3.0  832786349
41760     284      235     3.0  832786349

In [14]:
rating_data_newest.tail()

       userId  movieId  rating   timestamp
30177     210   180031     4.0  1537649775
81475     514   187031     2.5  1537674927
81477     514   187595     3.0  1537674946
81336     514     5247     2.5  1537757040
81335     514     5246     1.5  1537757059

In [20]:
def rating_filter(input_data, threshold =100):
    data = input_data.copy()
    #threshold개 이상 평가를 남긴 행만 남긴다.
    x = data['userId'].value_counts()>=threshold
    y = set(x[x].index)
    data= data[data['userId'].isin(y)]
    
    return data.reset_index(drop =True)
# 데이터 필터링

In [21]:
rating_data_newest_cert = rating_filter(rating_data_newest,100)

In [22]:
rating_data_newest_cert.head()

   userId  movieId  rating  timestamp
0     436      380     3.0  833529409
1     436      592     3.0  833529409
2     436      150     4.0  833529409
3     436      588     3.0  833529489
4     436      344     1.0  833529489

In [23]:
rating_data_newest_cert.to_csv('./ml-latest-small/rating_cert.csv')

In [25]:
#인덱스는 userId, 열은 movieID, 값들은 평점으로해서 데이터 프레임을 만든다.
raw_pivot = rating_data_newest_cert.pivot(index='userId',columns ='movieId', values='rating')

In [27]:
movie_count = raw_pivot.count(axis = 0)
print(movie_count)

movieId
1         135
2          81
3          35
4           4
5          26
         ...
193581      1
193583      1
193585      1
193587      1
193609      1
Length: 9551, dtype: int64

In [28]:
#영화의 평점 개수가 20개보다 작을 때 해당 영화는 없애준다.
movies_to_erase=[]
for c in raw_pivot.columns.to_list():
    if(movie_count[c]<20):
        movies_to_erase.append(c)

In [30]:
#axis =1 은 열을 다루는 것, axis = 0은 행을 다루는 것.
raw_pivot_temp = raw_pivot.drop(movies_to_erase,axis=1)

In [31]:
movieList = raw_pivot_temp.columns.to_list()

In [33]:
movieList[:5]

[1, 2, 3, 5, 6]

In [35]:
movie_raw = pd.read_csv('./ml-latest-small/movies.csv')
movie_raw.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [36]:
movie_raw_cert = movie_raw[movie_raw['movieId'].isin(movieList)]

In [37]:
movie_raw_cert.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller

In [38]:
print(movie_raw_cert.shape)

(1140, 3)

In [ ]:
movie_raw_cert.to_csv('./ml-latest-small/')